.section {
    margin: 5rem auto;
    width: 90%;
    max-width: 1200px;
}

.title {
    font-size: 4rem;
    color: var(--primary-100);
    font-weight: 600;
}

.members {
    display: grid;
    margin: 4rem 0;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}

.card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    translate: 0 -10px;
}

.name {
    padding: 1rem 0;
    font-size: 1.4rem;
    text-align: center;
}
