.section {
    margin: 5rem auto;
    width: 90%;
    max-width: 1200px;
}

.title {
    font-size: 4rem;
    color: var(--primary-100);
    font-weight: 600;
}

.text {
    font-size: 1.6rem;
    padding: 2rem 0;
}