* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-100: #D90429;
    --primary-200: #EF233C;
    --white: #EDF2F4;
    --gray: #8D99AE;
    --dark-100: #323449;
    --dark-200: #2B2D42;
    --blue: #2563eb;
}

html {
    font-size: 62.5%;
    font-family: Inter, sans-serif;
}

body {
    color: var(--dark-200);
    background-color: var(--white);
    min-width: 100vw;
    min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--white);
        background-color: var(--dark-100);
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
