.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    background-color: var(--primary-200);
    box-shadow: 0 3px 10px 3px rgba(202, 207, 221, 1);
}

.main {
    padding-bottom: 5rem;
}

@media (prefers-color-scheme: dark) {
    .wrapper {
        box-shadow: 0 3px 10px 3px rgb(56, 61, 61);
    }
}
